.card {
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &.yours {
      filter: drop-shadow(0 0 1rem $white);
    }

    &.final {
      .card.archived {
        filter: initial;
      }
    }
  }

  position: absolute;
  height: 96px;
  width: 71px;
  margin-right: -30px;
  transform-origin: center;
  transition: all ease-in-out .3s;
  content: url('https://pig-game.aries0d0f.me/img/card/covered');

  &.dealing {
    position: absolute;
    transition: all ease-in-out .3s;
  }

  &.open {
    animation: openAnimate .3s ease-in-out;
    animation-fill-mode: forwards;
  }

  &.archived {
    filter: brightness(50%);
  }
}

@keyframes openAnimate {
  0% {
    position: absolute;
    transform: scale(1, 1);
  }

  50% {
    transform: scale(0, 1);
    content: url('https://pig-game.aries0d0f.me/img/card/covered');
  }

  100% {
    position: relative;
    transform: scale(1, 1);
    content: initial;
  }
}
