.card {
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  position: relative;
  height: 96px;
  width: 71px;
  margin-right: -30px;
}
